<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Fast Food Kiosk</title>
</head>
<body>
    <!-- 배너 이미지 추가 -->
    <div class="banner">
        <img src="{{ url_for('static', filename='images/banner1.png') }}" alt="Banner Image">
    </div>
    <div class="container">
        <div class="tabs">
            <div class="tab" data-tab="1">스페셜팩</div>
            <div class="tab" data-tab="2">신제품(NEW)</div>
            <div class="tab" data-tab="3">프리미엄</div>
            <div class="tab" data-tab="4">와퍼&주니어</div>
            <div class="tab" data-tab="5">치킨&슈림프버거</div>
            <div class="tab" data-tab="6">올데이킹&킹모닝</div>
            <div class="tab" data-tab="7">사이드</div>
            <div class="tab" data-tab="8">음료&디저트</div>
        </div>

        <div class="menu-container">
            <!-- Menu items will be displayed here based on the selected tab -->
        </div>

        <div class="chosen-menu">
            <div class="chosen-menu-titles">
                <div class="left-section">
                    <h1>장바구니 <span id="chosen-menu-count">0</span></h1>
                </div>
                <div class="right-section">
                    <div class="total">
                        <h1>총 주문 금액 : <span id="total-price">0</span></h1>
                    </div>
                </div>
            </div>
            <div class="chosen-items">
                <!-- Chosen menu items will be displayed here -->
            </div>
    
            <div class="chosen-button">
                <button id="home-button">장바구니 비우기</button>
                <button id="order-button">주문하기</button>
            </div>
        </div>
        <!-- 모달 팝업 -->
        <div id="option-modal" class="modal">
            <div class="modal-content">
                <span class="close-button" id="option-modal-close">&times;</span>
                <div class="modal-body">
                    <!-- 여기에 팝업 내용을 추가하세요 -->
                    <div class="popup-content">
                        <h1>세트 옵션 선택</h1>
                        <div class="options">
                            <div class="option-details">
                                <label class="custom-checkbox">
                                <input type="radio" name="set-option" value="단품">
                                <span class="check-mark"></span>
                                <div class="option-name">단품</div>
                                <div class="option-price">7900</div>
                                </label>
                            </div>
                            <div class="option-details">
                                <label class="custom-checkbox">
                                <input type="radio" name="set-option" value="레귤러세트">
                                <span class="check-mark"></span>
                                <div class="option-name">레귤러세트</div>
                                <div class="option-price">8500</div>
                                </label>
                            </div>
                            <div class="option-details">
                                <label class="custom-checkbox">
                                <input type="radio" name="set-option" value="라지세트">
                                <span class="check-mark"></span>
                                <div class="option-name">라지세트</div>
                                <div class="option-price">9500</div>
                                </label>
                            </div>
                        </div>
                        <button type="button" id="option-modal-save" class="save-button btn btn-primary disable-submit">저장</button>
                    </div>
                    
                    
                </div>
            </div>
        </div>
        
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
